<div id="<%= dom_id pokemon %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pokemon.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pokedex:</strong>
    <%= pokemon.pokedex_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= pokemon.weight %>
  </p>
</div>
