<nav class="bg-red-600">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= link_to root_path do %>
              <%= image_tag "pokemon_logo.png", class: "h-10" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
